<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".view.intentCatcher"
            android:parentActivityName=".view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.graphicActivity"/>
        <activity android:name=".view.browser"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.serviceActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.historyActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.fileActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.dbActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.SharedPreferencesActivity"
            android:parentActivityName=".view.MainActivity"/>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".viewmodel.service"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>